- var url = page.url.substring(page.url.indexOf('/') + 1).replace(/\//g, '-');
- var email = locals.comment_email.split('@');
- var mailto = email[0] + '+' + url + '@' + email[1];

- function keys(o) { var a=[]; for (var k in o) a.push(k); return a; };

section#comments
  h2 Comments

  if contents.comments[url]
    - var index = 1;
    for comment in keys(contents.comments[url]).sort()
      - comment = contents.comments[url][comment]
      include _single_comment
      - index++;

  a.write-a-comment(href='mailto:'+mailto+'?subject='+page.title)
    | Write a comment.
